{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MedicHub Profil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="meniu">
            <div class="logo"><span class="dot"></span>Medic<span>Hub</span></div>
            <ul>
                <li><a href="#">Misiunea noastra</a></li>
                <li><a href="#">Stiri</a></li>
                <li><a href="#">Reviste de specialitate</a></li>
                <li><a href="#">Abonamente</a></li>
                <li><a href="#">Cursuri</a></li>
                <li><a href="#">Evenimente</a></li>
                
                        
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" style="color: red;">Logout ({{ user.username }})</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" style="font-weight: bold; color: #008080;">Login</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 MedicHub</p>
    </footer>
</body>
</html>