{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/profile_base.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="profile-container">
    <aside class="sidebar">
        <div class="user-card">
            <div class="avatar-circle">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3 class="user-name">Lionel Messi</h3>
            <p class="points-text">Ai acumulat <br> <span>20 puncte</span></p>
            <button class="btn-logout">Logout</button>
        </div>

        <ul class="profile-menu">
            <li class="{% block menu_profile %}{% endblock %}"><a href="{% url 'user_profile' %}">Profilul meu</a></li>
            <li class="{% block menu_courses %}{% endblock %}"><a href="{% url 'user_courses' %}">Cursurile mele</a></li>
            <li class="{% block menu_events %}{% endblock %}"><a href="{% url 'user_events' %}">Evenimentele mele</a></li>
            <li class="{% block menu_magazines %}{% endblock %}"><a href="{% url 'user_magazines' %}">Revistele mele</a></li>
            <li class="{% block menu_edit %}{% endblock %}"><a href="{% url 'user_edit_profile' %}">Editeaza profil</a></li>
            <li class="{% block menu_history %}{% endblock %}"><a href="{% url 'user_transactions' %}">Istoric tranzactii</a></li>
            <li class="{% block menu_certificates %}{% endblock %}"><a href="{% url 'user_certificates' %}">Certificatele mele</a></li>
            <li class="{% block menu_credits %}{% endblock %}"><a href="{% url 'user_add_credits' %}">Adauga credite</a></li>
        </ul>
    </aside>

    <main class="profile-main">
        {% block profile_content %}
        {% endblock %}
    </main>
</div>
{% endblock %}